Importing Libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

Importing the dataset

In [ ]:
data = pd.read_csv("https://github.com/NetzwerkPriyanka8/ML_April/raw/main/Final_Project/50_startups_data.csv")

In [ ]:
data.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [ ]:
data.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [ ]:

X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [ ]:
data.shape

(50, 4)

In [ ]:
#Checking for missing values in dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   Profit           50 non-null     float64
dtypes: float64(4)
memory usage: 1.7 KB

In [ ]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
Profit             0
dtype: int64

In [ ]:
#Splitting into taining and testing set


from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [ ]:
#Linear regression
from sklearn.linear_model import LinearRegression
multiple_reg = LinearRegression()
multiple_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#Prediction
y_pred = multiple_reg.predict(X_test)
y_pred

array([104858.68792624, 132180.42376363, 133322.11933423,  72113.62933704,
       179083.55561998, 114843.75907009,  65955.16143209,  98683.96747911,
       114456.08522159, 168405.59509517,  96182.70251536,  87655.37645653,
       110908.05435256])

In [ ]:
intercept=reg.intercept_
intercept

41081.801319404054

In [ ]:
from sklearn import metrics
print("mean squared error: ",metrics.mean_squared_error(y_test,y_pred))
print("mean Absolute error: ",metrics.mean_absolute_error(y_test,y_pred))
print("R2 score: ",metrics.r2_score(y_test,y_pred))

mean squared error:  72767199.14073583
mean Absolute error:  7025.6354373782415
R2 score:  0.9325475204846337

In [ ]:

#Prediction for new values


output = multiple_reg.predict([[992345.6 , 3325464.55 , 1129894.60]])
output

array([1004241.34702469])

In [ ]:
#Prediction by taking input from User for new values

print("Enter the amount you have spend on:")
RDSpend = float(input("R & D Spend : "))
Administration = float(input("Adminisration : "))
MarketingSpend = float(input("Marketing Spend : "))


output = multiple_reg.predict([[RDSpend, Administration, MarketingSpend]])
print("you will get Rs {} Profit by spending Rs {} on R & D , Rs {} on Adminisration and Rs {} on Marketing."\
      .format(output[0][0] if output else "not predictable",RDSpend, Administration, MarketingSpend))

Enter the amount you have spend on: